In [325]:
import pandas as pd
import numpy as np
from datetime import datetime
import warnings
warnings.filterwarnings('ignore')

In [326]:
df = pd.read_csv('D:\Automation\Data Cleaning\Datasets\movies\movies.csv')

In [327]:
df.shape

(9999, 9)

In [328]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   MOVIES    9999 non-null   object
 1   YEAR      9355 non-null   object
 2   GENRE     9919 non-null   object
 3   RATING    8179 non-null   float64
 4   ONE-LINE  9999 non-null   object
 5   STARS     9999 non-null   object
 6   VOTES     8179 non-null   object
 7   RunTime   7041 non-null   float64
 8   Gross     460 non-null    object
dtypes: float64(2), object(7)
memory usage: 703.2+ KB

In [329]:
df.describe(include='all')

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
count,9999,9355,9919,8179.000000,9999,9999,8179,7041.000000,460
unique,6817,438,510,NaN,8688,7877,4129,NaN,332
top,Bleach: Burîchi,(2020– ),\nComedy,NaN,\nAdd a Plot\n,\n,7,NaN,$0.01M
freq,65,892,852,NaN,1265,456,35,NaN,22
mean,NaN,NaN,NaN,6.921176,NaN,NaN,NaN,68.688539,NaN
std,NaN,NaN,NaN,1.220232,NaN,NaN,NaN,47.258056,NaN
min,NaN,NaN,NaN,1.100000,NaN,NaN,NaN,1.000000,NaN
25%,NaN,NaN,NaN,6.200000,NaN,NaN,NaN,36.000000,NaN
50%,NaN,NaN,NaN,7.100000,NaN,NaN,NaN,60.000000,NaN
75%,NaN,NaN,NaN,7.800000,NaN,NaN,NaN,95.000000,NaN
max,NaN,NaN,NaN,9.900000,NaN,NaN,NaN,853.000000,NaN

In [330]:
df.isnull().sum()

MOVIES         0
YEAR         644
GENRE         80
RATING      1820
ONE-LINE       0
STARS          0
VOTES       1820
RunTime     2958
Gross       9539
dtype: int64

In [331]:
df.head()

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
0,Blood Red Sky,(2021),"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN
3,Rick and Morty,(2013– ),"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN
4,Army of Thieves,(2021),"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN

In [332]:
df.dtypes

MOVIES       object
YEAR         object
GENRE        object
RATING      float64
ONE-LINE     object
STARS        object
VOTES        object
RunTime     float64
Gross        object
dtype: object

In [333]:
#MISSING DATA ASSESSMENT

In [334]:
missing_summary = df.isnull().sum()
print(missing_summary)

MOVIES         0
YEAR         644
GENRE         80
RATING      1820
ONE-LINE       0
STARS          0
VOTES       1820
RunTime     2958
Gross       9539
dtype: int64

In [335]:
# check for empty strings and unkown values
for col in df.select_dtypes(include=['object']).columns:
    empty_count = (df[col] == '' ).sum()
    unknown_count = df[col].str.contains('unknown', case=False, na=False).sum() if df[col].dtype == 'object' else 0
    if empty_count > 0 or unknown_count > 0:
        print(f"{col}: {empty_count} empty strings, {unknown_count} unknown values")

MOVIES: 0 empty strings, 2 unknown values
ONE-LINE: 0 empty strings, 44 unknown values

In [336]:
#Handle missing data
df_copy = df.copy()

In [337]:
#Replace missing data with NAN
df_clean = df_copy.replace('', np.nan)

In [338]:
#Replace unkown with NaN
df_clean = df_clean.replace('unknown', np.nan, regex=True)

In [339]:
print("\n After converting empty strings and unkown to Nan")
print(df_clean['MOVIES'].str.contains('unknown', case=False, na=False).sum())

 After converting empty strings and unkown to Nan
2

In [340]:
df_clean[df_clean['MOVIES'].str.contains('unknown', case=False, na=False)]

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
519,Unknown,(I) (2011),"\nAction, Mystery, Thriller",6.8,\nWhen a man awakens from a coma only to disco...,\n Director:\nJaume Collet-Serra\n| \n S...,"253,999",113.0,$63.69M
4559,The Unknown: Legend of Exorcist Zhong Kui,(2020– ),"\nAction, Adventure, Fantasy",NaN,\nAdd a Plot\n,"\n \n Stars:\nZhang Guang Bei, \...",NaN,NaN,NaN

In [341]:
df_clean['MOVIES'] = df_clean['MOVIES'].str.strip().replace(r'(?i)^unknown$', np.nan, regex=True)

In [342]:
df_clean[df_clean['MOVIES'].str.contains('unknown', case=False, na=False)]

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
4559,The Unknown: Legend of Exorcist Zhong Kui,(2020– ),"\nAction, Adventure, Fantasy",NaN,\nAdd a Plot\n,"\n \n Stars:\nZhang Guang Bei, \...",NaN,NaN,NaN

In [343]:
df_clean[df_clean['MOVIES'].isna()]

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
519,NaN,(I) (2011),"\nAction, Mystery, Thriller",6.8,\nWhen a man awakens from a coma only to disco...,\n Director:\nJaume Collet-Serra\n| \n S...,"253,999",113.0,$63.69M

In [344]:
#Remove new line characters from the data
string_columns = df_clean.select_dtypes(include = ['object']).columns
print(string_columns)
for col in string_columns:
    df_clean[col] = df_clean[col].str.replace(r'\n+',' ', regex=True)
df_clean.head()

Index(['MOVIES', 'YEAR', 'GENRE', 'ONE-LINE', 'STARS', 'VOTES', 'Gross'], dtype='object')

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
0,Blood Red Sky,(2021),"Action, Horror, Thriller",6.1,A woman with a mysterious illness is forced i...,Director: Peter Thorwarth | Stars: P...,"21,062",121.0,NaN
1,Masters of the Universe: Revelation,(2021– ),"Animation, Action, Adventure",5.0,The war for Eternia begins again in what may ...,"Stars: Chris Wood, Sarah Mi...","17,870",25.0,NaN
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",8.2,Sheriff Deputy Rick Grimes wakes up from a co...,"Stars: Andrew Lincoln, Norm...","885,805",44.0,NaN
3,Rick and Morty,(2013– ),"Animation, Adventure, Comedy",9.2,An animated series that follows the exploits ...,"Stars: Justin Roiland, Chri...","414,849",23.0,NaN
4,Army of Thieves,(2021),"Action, Crime, Horror",NaN,"A prequel, set before the events of Army of t...",Director: Matthias Schweighöfer | St...,NaN,NaN,NaN

In [345]:
#Extract Start Year and End Year from YEAR column
df_clean['START_YEAR'] = df_clean['YEAR'].str.extract(r'(\d{4})').astype(float)
df_clean['END_YEAR'] = df_clean['YEAR'].str.extract(r'–\s?(\d{4})').astype(float)
df_clean.drop(columns = ['YEAR'], inplace=True)
df_clean.head()

,MOVIES,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross,START_YEAR,END_YEAR
0,Blood Red Sky,"Action, Horror, Thriller",6.1,A woman with a mysterious illness is forced i...,Director: Peter Thorwarth | Stars: P...,"21,062",121.0,NaN,2021.0,NaN
1,Masters of the Universe: Revelation,"Animation, Action, Adventure",5.0,The war for Eternia begins again in what may ...,"Stars: Chris Wood, Sarah Mi...","17,870",25.0,NaN,2021.0,NaN
2,The Walking Dead,"Drama, Horror, Thriller",8.2,Sheriff Deputy Rick Grimes wakes up from a co...,"Stars: Andrew Lincoln, Norm...","885,805",44.0,NaN,2010.0,2022.0
3,Rick and Morty,"Animation, Adventure, Comedy",9.2,An animated series that follows the exploits ...,"Stars: Justin Roiland, Chri...","414,849",23.0,NaN,2013.0,NaN
4,Army of Thieves,"Action, Crime, Horror",NaN,"A prequel, set before the events of Army of t...",Director: Matthias Schweighöfer | St...,NaN,NaN,NaN,2021.0,NaN

In [346]:
df_clean['VOTES'] = pd.to_numeric(df_clean['VOTES'].str.replace(',', '', regex=False), errors='coerce')

In [347]:
df_clean.head()

,MOVIES,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross,START_YEAR,END_YEAR
0,Blood Red Sky,"Action, Horror, Thriller",6.1,A woman with a mysterious illness is forced i...,Director: Peter Thorwarth | Stars: P...,21062.0,121.0,NaN,2021.0,NaN
1,Masters of the Universe: Revelation,"Animation, Action, Adventure",5.0,The war for Eternia begins again in what may ...,"Stars: Chris Wood, Sarah Mi...",17870.0,25.0,NaN,2021.0,NaN
2,The Walking Dead,"Drama, Horror, Thriller",8.2,Sheriff Deputy Rick Grimes wakes up from a co...,"Stars: Andrew Lincoln, Norm...",885805.0,44.0,NaN,2010.0,2022.0
3,Rick and Morty,"Animation, Adventure, Comedy",9.2,An animated series that follows the exploits ...,"Stars: Justin Roiland, Chri...",414849.0,23.0,NaN,2013.0,NaN
4,Army of Thieves,"Action, Crime, Horror",NaN,"A prequel, set before the events of Army of t...",Director: Matthias Schweighöfer | St...,NaN,NaN,NaN,2021.0,NaN

In [348]:
df_clean['Gross'] = (df_clean['Gross']
                     .str.replace(r'\n+', '', regex=True)
                     .str.strip()
                     .str.replace(r'[\$,]', '', regex=True)
                     .str.replace('M', '')
                     .astype(float) * 1000000)  # if all values are in millions

In [349]:
df_clean.head()

,MOVIES,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross,START_YEAR,END_YEAR
0,Blood Red Sky,"Action, Horror, Thriller",6.1,A woman with a mysterious illness is forced i...,Director: Peter Thorwarth | Stars: P...,21062.0,121.0,NaN,2021.0,NaN
1,Masters of the Universe: Revelation,"Animation, Action, Adventure",5.0,The war for Eternia begins again in what may ...,"Stars: Chris Wood, Sarah Mi...",17870.0,25.0,NaN,2021.0,NaN
2,The Walking Dead,"Drama, Horror, Thriller",8.2,Sheriff Deputy Rick Grimes wakes up from a co...,"Stars: Andrew Lincoln, Norm...",885805.0,44.0,NaN,2010.0,2022.0
3,Rick and Morty,"Animation, Adventure, Comedy",9.2,An animated series that follows the exploits ...,"Stars: Justin Roiland, Chri...",414849.0,23.0,NaN,2013.0,NaN
4,Army of Thieves,"Action, Crime, Horror",NaN,"A prequel, set before the events of Army of t...",Director: Matthias Schweighöfer | St...,NaN,NaN,NaN,2021.0,NaN

In [350]:
df_clean[~df_clean['Gross'].isna()]

,MOVIES,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross,START_YEAR,END_YEAR
77,The Hitman's Bodyguard,"Action, Comedy, Crime",6.9,"The world's top bodyguard gets a new client, ...",Director: Patrick Hughes | Stars: Ry...,205979.0,118.0,75470000.0,2017.0,NaN
85,Jurassic Park,"Action, Adventure, Sci-Fi",8.1,A pragmatic paleontologist visiting an almost...,Director: Steven Spielberg | Stars: ...,897444.0,127.0,402450000.0,1993.0,NaN
95,Don't Breathe,"Crime, Horror, Thriller",7.1,"Hoping to walk away with a massive fortune, a...",Director: Fede Alvarez | Stars: Step...,237601.0,88.0,89220000.0,2016.0,NaN
111,The Lord of the Rings: The Fellowship of the Ring,"Action, Adventure, Drama",8.8,A meek Hobbit from the Shire and eight compan...,Director: Peter Jackson | Stars: Eli...,1713028.0,178.0,315540000.0,2001.0,NaN
125,Escape Room,"Action, Adventure, Horror",6.4,Six strangers find themselves in a maze of de...,Director: Adam Robitel | Stars: Tayl...,99351.0,99.0,57010000.0,2019.0,NaN
...,...,...,...,...,...,...,...,...,...,...
5750,Vidal Sassoon: The Movie,Documentary,6.5,Vidal Sassoon is more than just a hairdresser...,Director: Craig Teper | Stars: Bever...,245.0,90.0,90000.0,2010.0,NaN
5770,Men at Lunch,"Documentary, Mystery",6.3,"The story of ""Lunch atop a Skyscraper,"" the i...",Director: Seán Ó Cualáin | Stars: Fi...,331.0,75.0,0.0,2012.0,NaN
5835,Decoding Deepak,Documentary,5.5,"Deepak Chopra's son, Gotham, spends a year tr...",Director: Gotham Chopra | Stars: Dee...,124.0,83.0,10000.0,2012.0,NaN
6056,Theo Who Lived,Documentary,6.8,A documentary on American journalist Theo Pad...,Director: David Schisgall | Star: Th...,111.0,86.0,10000.0,2016.0,NaN
6292,Southern Justice,"Action, Adventure, Thriller",3.1,"M.D. Selig's feature thriller, SOUTHERN JUSTI...",Director: M.D. Selig | Stars: M.D. S...,126.0,96.0,140000.0,2006.0,NaN

In [351]:
#=====================================================
#STEP 3: DATA TYPE Validation and Conversion
#=====================================================

In [352]:
print("\n\n3 Data Type Validation and Conversion")
print("="*50)

3 Data Type Validation and Conversion
==================================================

In [353]:
df_clean['START_YEAR'] = pd.to_numeric(df_clean['START_YEAR'], errors='coerce')
df_clean['END_YEAR'] = pd.to_numeric(df_clean['END_YEAR'], errors='coerce')
df_clean['RunTime'] = pd.to_numeric(df_clean['RunTime'], errors='coerce')
df_clean['VOTES'] = pd.to_numeric(df_clean['VOTES'], errors='coerce')
df_clean['Gross'] = pd.to_numeric(df_clean['Gross'], errors='coerce')

In [354]:
df_clean.dtypes

MOVIES         object
GENRE          object
RATING        float64
ONE-LINE       object
STARS          object
VOTES         float64
RunTime       float64
Gross         float64
START_YEAR    float64
END_YEAR      float64
dtype: object

In [355]:
print("\n\n4. Derived Columns:")
print("="*50)

4. Derived Columns:
==================================================

In [356]:
#Decade
df_clean["decade"] = (df_clean['START_YEAR']//10)*10
#Revenue per minute
df_clean["revenue_per_minute"] = df_clean['Gross'] / df_clean['RunTime']

df_clean.head()

,MOVIES,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross,START_YEAR,END_YEAR,decade,revenue_per_minute
0,Blood Red Sky,"Action, Horror, Thriller",6.1,A woman with a mysterious illness is forced i...,Director: Peter Thorwarth | Stars: P...,21062.0,121.0,NaN,2021.0,NaN,2020.0,NaN
1,Masters of the Universe: Revelation,"Animation, Action, Adventure",5.0,The war for Eternia begins again in what may ...,"Stars: Chris Wood, Sarah Mi...",17870.0,25.0,NaN,2021.0,NaN,2020.0,NaN
2,The Walking Dead,"Drama, Horror, Thriller",8.2,Sheriff Deputy Rick Grimes wakes up from a co...,"Stars: Andrew Lincoln, Norm...",885805.0,44.0,NaN,2010.0,2022.0,2010.0,NaN
3,Rick and Morty,"Animation, Adventure, Comedy",9.2,An animated series that follows the exploits ...,"Stars: Justin Roiland, Chri...",414849.0,23.0,NaN,2013.0,NaN,2010.0,NaN
4,Army of Thieves,"Action, Crime, Horror",NaN,"A prequel, set before the events of Army of t...",Director: Matthias Schweighöfer | St...,NaN,NaN,NaN,2021.0,NaN,2020.0,NaN

In [357]:
print(df_clean.shape)
df_clean = df_clean.dropna(thresh=6)
print(df_clean.shape)

(9999, 12)
(9236, 12)

In [358]:
df_clean['director'] = df_clean['STARS'].str.extract(r'Director:\s*(.*?)\s*\|')
df_clean['stars'] = df_clean['STARS'].str.extract(r'Stars:\s*(.*)')
df_clean.head()

,MOVIES,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross,START_YEAR,END_YEAR,decade,revenue_per_minute,director,stars
0,Blood Red Sky,"Action, Horror, Thriller",6.1,A woman with a mysterious illness is forced i...,Director: Peter Thorwarth | Stars: P...,21062.0,121.0,NaN,2021.0,NaN,2020.0,NaN,Peter Thorwarth,"Peri Baumeister, Carl Anton Koch, Alexander ..."
1,Masters of the Universe: Revelation,"Animation, Action, Adventure",5.0,The war for Eternia begins again in what may ...,"Stars: Chris Wood, Sarah Mi...",17870.0,25.0,NaN,2021.0,NaN,2020.0,NaN,NaN,"Chris Wood, Sarah Michelle Gellar, Lena Head..."
2,The Walking Dead,"Drama, Horror, Thriller",8.2,Sheriff Deputy Rick Grimes wakes up from a co...,"Stars: Andrew Lincoln, Norm...",885805.0,44.0,NaN,2010.0,2022.0,2010.0,NaN,NaN,"Andrew Lincoln, Norman Reedus, Melissa McBri..."
3,Rick and Morty,"Animation, Adventure, Comedy",9.2,An animated series that follows the exploits ...,"Stars: Justin Roiland, Chri...",414849.0,23.0,NaN,2013.0,NaN,2010.0,NaN,NaN,"Justin Roiland, Chris Parnell, Spencer Gramm..."
4,Army of Thieves,"Action, Crime, Horror",NaN,"A prequel, set before the events of Army of t...",Director: Matthias Schweighöfer | St...,NaN,NaN,NaN,2021.0,NaN,2020.0,NaN,Matthias Schweighöfer,"Matthias Schweighöfer, Nathalie Emmanuel, Ru..."

In [359]:
df_clean.to_csv('D:\Automation\Data Cleaning\Datasets\movies\cleaned_movies.csv', index=False)

In [360]:
#4. Duplicate detetcion and Removal

In [361]:
#Total rows
print(len(df_clean))
#Duplicate rows  - All columns
print(df_clean.duplicated().sum())
#Duplicate rows in Movies column
print(f"Duplicate rows in Movies & Start_Year column - {df_clean.duplicated(subset=['MOVIES','START_YEAR']).sum()}")
print(f"Duplicate rows in Movies column - {df_clean.duplicated(subset=['MOVIES']).sum()}")
print(df_clean[df_clean.duplicated(subset=['MOVIES','START_YEAR'])])

9236
316
Duplicate rows in Movies & Start_Year column - 3294
Duplicate rows in Movies column - 3333
                            MOVIES                                      GENRE  \
91                         Kingdom         Action, Drama, History
2807                 Malibu Rescue         Action, Comedy, Family
3772                      Verónica       Drama, Mystery, Thriller
5955  Amend: The Fight for America                    Documentary
6475    Avatar: The Last Airbender   Animation, Action, Adventure
...                            ...                                        ...
9994                The Imperfects      Adventure, Drama, Fantasy
9995                        Arcane   Animation, Action, Adventure
9996             Heart of Invictus             Documentary, Sport
9997                The Imperfects      Adventure, Drama, Fantasy
9998                The Imperfects      Adventure, Drama, Fantasy

      RATING                                           ONE-LINE  \
91       7.1   Tragedy, betrayal and a mysterious discovery ...
2807     5.0   Aspiring junior lifeguards compete against sn...
3772     5.9   A female Psychologist who has stopped practic...
5955     6.2                                        Add a Plot
6475     7.6   Sokka and Katara have to solve a centuries-ol...
...      ...                                                ...
9994     NaN                                        Add a Plot
9995     NaN                                        Add a Plot
9996     NaN                                        Add a Plot
9997     NaN                                        Add a Plot
9998     NaN                                        Add a Plot

                                                  STARS   VOTES  RunTime  \
91         Director: Seong-hun Kim |      Stars: Jun...  6388.0     92.0
2807       Director: Savage Steve Holland |      Sta...  1090.0     68.0
3772       Directors: Carlos Algara,  Alejandro Mart...  1342.0     81.0
5955                                  Star: Will Smith     16.0      NaN
6475       Director: Lauren MacMullan |      Stars: ...  2871.0     24.0
...                                                 ...     ...      ...
9994                    Stars: Morgan Taylor Campbel...     NaN      NaN
9995                                                        NaN      NaN
9996       Director: Orlando von Einsiedel |      St...     NaN      NaN
9997       Director: Jovanka Vuckovic |      Stars: ...     NaN      NaN
9998       Director: Jovanka Vuckovic |      Stars: ...     NaN      NaN

      Gross  START_YEAR  END_YEAR  decade  revenue_per_minute  \
91      NaN      2019.0       NaN  2010.0                 NaN
2807    NaN      2019.0       NaN  2010.0                 NaN
3772    NaN      2017.0       NaN  2010.0                 NaN
5955    NaN      2021.0       NaN  2020.0                 NaN
6475    NaN      2005.0    2008.0  2000.0                 NaN
...     ...         ...       ...     ...                 ...
9994    NaN      2021.0       NaN  2020.0                 NaN
9995    NaN      2021.0       NaN  2020.0                 NaN
9996    NaN      2022.0       NaN  2020.0                 NaN
9997    NaN      2021.0       NaN  2020.0                 NaN
9998    NaN      2021.0       NaN  2020.0                 NaN

                   director                                              stars
91            Seong-hun Kim  Jun Ji-hyun,  Si-ah Kim,  Byeong-eun Park,  Ky...
2807   Savage Steve Holland  Ricardo Hurtado,  Breanna Yde,  Jackie R. Jaco...
3772                    NaN  Olga Segura,  Arcelia Ramírez,  Sofía Garza,  ...
5955                    NaN                                                NaN
6475       Lauren MacMullan  Zach Tyler,  Mae Whitman,  Jack De Sena,  Dant...
...                     ...                                                ...
9994                    NaN  Morgan Taylor Campbell,  Chris Cope,  Iñaki Go...
9995                    NaN                                                NaN
9996  Orlando von Einsiedel                                                NaN
9997       Jovanka Vuckovic  Morgan Taylor Campbell,  Iñaki Godoy,  Rhianna...
9998       Jovanka Vuckovic  Morgan Taylor Campbell,  Jennifer Cheon Garcia...

[3294 rows x 14 columns]

In [362]:
#Remove duplicates keeping first occurence
df_clean = df_clean.drop_duplicates(subset=['MOVIES'], keep='first')
print(f"After removing duplicates the row count is {len(df_clean)} rows")

After removing duplicates the row count is 5903 rows

In [363]:
print(f"Duplicate rows in Movies & Start_Year column - {df_clean.duplicated(subset=['MOVIES','START_YEAR']).sum()}")

Duplicate rows in Movies & Start_Year column - 0

In [364]:
# Outlier detection and Treatment

In [365]:
#Check Outliers in Rating
print(df_clean['RATING'].describe(include = 'All'))

count    5517.000000
mean        6.594109
std         1.214764
min         1.100000
25%         5.900000
50%         6.700000
75%         7.500000
max         9.400000
Name: RATING, dtype: float64

In [366]:
#Check Outliers in VOTES
print(df_clean['VOTES'].describe(include = 'All'))

count    5.517000e+03
mean     2.187108e+04
std      8.413672e+04
min      5.000000e+00
25%      4.080000e+02
50%      1.662000e+03
75%      7.644000e+03
max      1.713028e+06
Name: VOTES, dtype: float64

In [367]:
Q1 = df_clean['VOTES'].quantile(0.25)
Q3 = df_clean['VOTES'].quantile(0.75)
IQR = Q3 - Q1
print(IQR)
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
print(f"VOTES IQR bounds: [{lower_bound:.0f}, {upper_bound:.0f}]")

7236.0
VOTES IQR bounds: [-10446, 18498]

In [368]:
df_clean[df_clean['VOTES'] > 25000].sort_values(by = ['VOTES'])

,MOVIES,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross,START_YEAR,END_YEAR,decade,revenue_per_minute,director,stars
1538,Evil Genius: The True Story of America's Most ...,"Documentary, Crime",7.5,"The extraordinary story of the ""pizza bomber ...","Stars: Trey Borzillieri, Je...",25186.0,192.0,NaN,2018.0,NaN,2010.0,NaN,NaN,"Trey Borzillieri, Jerry Clark, Jason Wick, ..."
1120,Seaspiracy,"Documentary, Adventure",8.2,"Passionate about ocean life, a filmmaker sets...",Director: Ali Tabrizi | Stars: Ali T...,25217.0,89.0,NaN,2021.0,NaN,2020.0,NaN,Ali Tabrizi,"Ali Tabrizi, Richard O'Barry, Lucy Tabrizi, ..."
192,Jujutsu Kaisen,"Animation, Action, Adventure",8.7,A boy swallows a cursed talisman - the finger...,"Stars: Junya Enoki, Adam Mc...",25386.0,24.0,NaN,2020.0,NaN,2020.0,NaN,NaN,"Junya Enoki, Adam McArthur, Yûichi Nakamura,..."
141,Black Summer,"Action, Drama, Horror",6.5,"In the dark, early days of a zombie apocalyps...","Stars: Jaime King, Justin C...",25453.0,40.0,NaN,2019.0,NaN,2010.0,NaN,NaN,"Jaime King, Justin Chu Cary, Christine Lee, ..."
1496,Teströl és lélekröl,"Drama, Fantasy, Mystery",7.6,When slaughterhouse workers Endre and Mária d...,Director: Ildikó Enyedi | Stars: Ale...,25551.0,116.0,NaN,2017.0,NaN,2010.0,NaN,Ildikó Enyedi,"Alexandra Borbély, Géza Morcsányi, Réka Tenk..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,The Departed,"Crime, Drama, Thriller",8.5,An undercover cop and a mole in the police at...,Director: Martin Scorsese | Stars: L...,1227522.0,151.0,132380000.0,2006.0,NaN,2000.0,8.766887e+05,Martin Scorsese,"Leonardo DiCaprio, Matt Damon, Jack Nicholso..."
260,The Lord of the Rings: The Two Towers,"Action, Adventure, Drama",8.7,While Frodo and Sam edge closer to Mordor wit...,Director: Peter Jackson | Stars: Eli...,1529752.0,179.0,342550000.0,2002.0,NaN,2000.0,1.913687e+06,Peter Jackson,"Elijah Wood, Ian McKellen, Viggo Mortensen, ..."
16,Breaking Bad,"Crime, Drama, Thriller",9.4,A high school chemistry teacher diagnosed wit...,"Stars: Bryan Cranston, Aaro...",1552311.0,49.0,NaN,2008.0,2013.0,2000.0,NaN,NaN,"Bryan Cranston, Aaron Paul, Anna Gunn, Bets..."
193,The Lord of the Rings: The Return of the King,"Action, Adventure, Drama",8.9,Gandalf and Aragorn lead the World of Men aga...,Director: Peter Jackson | Stars: Eli...,1691777.0,201.0,377850000.0,2003.0,NaN,2000.0,1.879851e+06,Peter Jackson,"Elijah Wood, Viggo Mortensen, Ian McKellen, ..."
111,The Lord of the Rings: The Fellowship of the Ring,"Action, Adventure, Drama",8.8,A meek Hobbit from the Shire and eight compan...,Director: Peter Jackson | Stars: Eli...,1713028.0,178.0,315540000.0,2001.0,NaN,2000.0,1.772697e+06,Peter Jackson,"Elijah Wood, Ian McKellen, Orlando Bloom, S..."

In [369]:
df_clean['RunTime'].describe()

count    5068.000000
mean       80.275059
std        49.944928
min         1.000000
25%        48.000000
50%        85.000000
75%       101.000000
max       853.000000
Name: RunTime, dtype: float64

In [370]:
Q1 = df_clean['RunTime'].quantile(0.25)
Q3 = df_clean['RunTime'].quantile(0.75)
IQR = Q3 - Q1
print(IQR)
lower_bound = Q1 - 1.25 * IQR
upper_bound = Q3 + 1.25 * IQR
print(f"RunTime IQR bounds: [{lower_bound:.0f}, {upper_bound:.0f}]")

53.0
RunTime IQR bounds: [-18, 167]

In [371]:
df_clean[df_clean['RunTime'] > 167].sort_values(by = 'RunTime')

,MOVIES,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross,START_YEAR,END_YEAR,decade,revenue_per_minute,director,stars
171,The Hobbit: An Unexpected Journey,"Adventure, Fantasy",7.8,"A reluctant Hobbit, Bilbo Baggins, sets out t...",Director: Peter Jackson | Stars: Mar...,774632.0,169.0,303000000.0,2012.0,NaN,2010.0,1.792899e+06,Peter Jackson,"Martin Freeman, Ian McKellen, Richard Armita..."
3032,The Oscars,Music,6.6,The 92nd Academy Awards for film achievements...,Director: Glenn Weiss | Stars: Flore...,1024.0,170.0,NaN,2020.0,NaN,2020.0,NaN,Glenn Weiss,"Florence Pugh, Scarlett Johansson, Margot Ro..."
2844,Shakthi: The Power,"Action, Drama",6.0,A couple visits the husband's family in India...,Director: Krishna Vamsi | Stars: Kar...,4717.0,170.0,NaN,2002.0,NaN,2000.0,NaN,Krishna Vamsi,"Karisma Kapoor, Nana Patekar, Sanjay Kapoor,..."
4445,Muqaddar Ka Faisla,"Action, Comedy, Drama",4.8,An honest Hindu pandit (priest) is framed for...,Director: Prakash Mehra | Stars: Raa...,55.0,171.0,NaN,1987.0,NaN,1980.0,NaN,Prakash Mehra,"Raaj Kumar, Rakhee Gulzar, Raj Babbar, Tina..."
2423,Mersal,"Action, Thriller",7.8,A magician and a doctor attempt to expose the...,Director: Atlee Kumar | Stars: Josep...,30551.0,172.0,NaN,2017.0,NaN,2010.0,NaN,Atlee Kumar,"Joseph Vijay, Nithya Menen, S.J. Suryah, Ka..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
820,Cosmos: A Spacetime Odyssey,Documentary,9.3,An exploration of our discovery of the laws o...,"Stars: Neil deGrasse Tyson, ...",114386.0,557.0,NaN,2014.0,NaN,2010.0,NaN,NaN,"Neil deGrasse Tyson, Stoney Emshwiller, Piot..."
201,The Haunting of Hill House,"Drama, Horror, Mystery",8.6,"Flashing between past and present, a fracture...","Stars: Michiel Huisman, Car...",195117.0,572.0,NaN,2018.0,NaN,2010.0,NaN,NaN,"Michiel Huisman, Carla Gugino, Henry Thomas,..."
2498,The Innocence Files,"Documentary, Crime",8.0,Cases of wrongful conviction that the Innocen...,"Stars: Peter Neufeld, Barry...",2335.0,573.0,NaN,2020.0,NaN,2020.0,NaN,NaN,"Peter Neufeld, Barry Scheck, Michael West, ..."
1081,Soupçons,"Documentary, Crime, Drama",7.9,The high-profile murder trial of American nov...,"Stars: Michael Peterson, Da...",20200.0,629.0,NaN,2004.0,2018.0,2000.0,NaN,NaN,"Michael Peterson, David Rudolf, Ron Guerette..."
1902,El tiempo entre costuras,"Adventure, Drama, History",8.3,Sira Quiroga is a young Spanish dressmaker en...,"Stars: Adriana Ugarte, Mari...",3876.0,853.0,NaN,2013.0,2014.0,2010.0,NaN,NaN,"Adriana Ugarte, Mari Carmen Sánchez, Tristán..."

In [372]:
#Adding VOTE Categories
df_clean['popularity_tier'] = pd.cut(df_clean['VOTES'],
                                    bins = [0, 1000, 10000, 100000, float('inf')],
                                    labels = ['Low', 'Medium', 'High', 'Very High'])

In [373]:
df_clean[df_clean['popularity_tier'] == 'Very High'].sort_values(by = 'VOTES', ascending=False)

,MOVIES,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross,START_YEAR,END_YEAR,decade,revenue_per_minute,director,stars,popularity_tier
111,The Lord of the Rings: The Fellowship of the Ring,"Action, Adventure, Drama",8.8,A meek Hobbit from the Shire and eight compan...,Director: Peter Jackson | Stars: Eli...,1713028.0,178.0,315540000.0,2001.0,NaN,2000.0,1.772697e+06,Peter Jackson,"Elijah Wood, Ian McKellen, Orlando Bloom, S...",Very High
193,The Lord of the Rings: The Return of the King,"Action, Adventure, Drama",8.9,Gandalf and Aragorn lead the World of Men aga...,Director: Peter Jackson | Stars: Eli...,1691777.0,201.0,377850000.0,2003.0,NaN,2000.0,1.879851e+06,Peter Jackson,"Elijah Wood, Viggo Mortensen, Ian McKellen, ...",Very High
16,Breaking Bad,"Crime, Drama, Thriller",9.4,A high school chemistry teacher diagnosed wit...,"Stars: Bryan Cranston, Aaro...",1552311.0,49.0,NaN,2008.0,2013.0,2000.0,NaN,NaN,"Bryan Cranston, Aaron Paul, Anna Gunn, Bets...",Very High
260,The Lord of the Rings: The Two Towers,"Action, Adventure, Drama",8.7,While Frodo and Sam edge closer to Mordor wit...,Director: Peter Jackson | Stars: Eli...,1529752.0,179.0,342550000.0,2002.0,NaN,2000.0,1.913687e+06,Peter Jackson,"Elijah Wood, Ian McKellen, Viggo Mortensen, ...",Very High
132,The Departed,"Crime, Drama, Thriller",8.5,An undercover cop and a mole in the police at...,Director: Martin Scorsese | Stars: L...,1227522.0,151.0,132380000.0,2006.0,NaN,2000.0,8.766887e+05,Martin Scorsese,"Leonardo DiCaprio, Matt Damon, Jack Nicholso...",Very High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,Love and Monsters,"Action, Adventure, Comedy",7.0,Seven years after he survived the monster apo...,Director: Michael Matthews | Stars: ...,100693.0,109.0,NaN,2020.0,NaN,2020.0,NaN,Michael Matthews,"Dylan O'Brien, Jessica Henwick, Michael Rook...",Very High
1218,Touch of Evil,"Crime, Drama, Film-Noir",8.0,"A stark, perverse story of murder, kidnapping...",Director: Orson Welles | Stars: Char...,100664.0,95.0,2240000.0,1958.0,NaN,1950.0,2.357895e+04,Orson Welles,"Charlton Heston, Orson Welles, Janet Leigh, ...",Very High
180,Broadchurch,"Crime, Drama, Mystery",8.4,The murder of a young boy in a small coastal ...,"Stars: David Tennant, Olivi...",100611.0,48.0,NaN,2013.0,2017.0,2010.0,NaN,NaN,"David Tennant, Olivia Colman, Jodie Whittake...",Very High
299,Bates Motel,"Drama, Horror, Mystery",8.1,"A contemporary prequel to Psycho, giving a po...","Stars: Vera Farmiga, Freddi...",100394.0,45.0,NaN,2013.0,2017.0,2010.0,NaN,NaN,"Vera Farmiga, Freddie Highmore, Max Thieriot...",Very High
791,The Invitation,"Drama, Mystery, Thriller",6.6,A man accepts an invitation to a dinner party...,Director: Karyn Kusama | Stars: Loga...,100313.0,100.0,230000.0,2015.0,NaN,2010.0,2.300000e+03,Karyn Kusama,"Logan Marshall-Green, Emayatzy Corinealdi, M...",Very High

In [374]:
df_clean.dtypes

MOVIES                  object
GENRE                   object
RATING                 float64
ONE-LINE                object
STARS                   object
VOTES                  float64
RunTime                float64
Gross                  float64
START_YEAR             float64
END_YEAR               float64
decade                 float64
revenue_per_minute     float64
director                object
stars                   object
popularity_tier       category
dtype: object

In [375]:
print("\n\nFINAL CLEANED DATASET")
print("="*50)

print(f"\nFinal dataset shape: {df_clean.shape}")
print(f"\nFinal data types:")
print(df_clean.dtypes)

FINAL CLEANED DATASET
==================================================

Final dataset shape: (5903, 15)

Final data types:
MOVIES                  object
GENRE                   object
RATING                 float64
ONE-LINE                object
STARS                   object
VOTES                  float64
RunTime                float64
Gross                  float64
START_YEAR             float64
END_YEAR               float64
decade                 float64
revenue_per_minute     float64
director                object
stars                   object
popularity_tier       category
dtype: object

In [395]:
df_clean = df_clean.rename(columns={'story_summary':'movie_summary'})

In [396]:
df_clean.columns =  [col.lower() for col in df_clean.columns]

In [400]:
df_clean.drop(columns=['stars'], inplace=True)

In [401]:
df_clean.dtypes

movies                  object
genre                   object
rating                 float64
movie_summary           object
votes                  float64
runtime                float64
gross                  float64
start_year             float64
end_year               float64
decade                 float64
revenue_per_minute     float64
director                object
popularity_tier       category
dtype: object

In [402]:
print("\n\nFINAL CLEANED DATASET")
print("="*50)

print(f"\nFinal dataset shape: {df_clean.shape}")
print(f"\nFinal data types:")
print(df_clean.dtypes)

FINAL CLEANED DATASET
==================================================

Final dataset shape: (5903, 13)

Final data types:
movies                  object
genre                   object
rating                 float64
movie_summary           object
votes                  float64
runtime                float64
gross                  float64
start_year             float64
end_year               float64
decade                 float64
revenue_per_minute     float64
director                object
popularity_tier       category
dtype: object

In [404]:
df_clean.to_csv('D:\Automation\Data Cleaning\Datasets\movies\cleaned_movies.csv', index=False)